h1,
h2,
h3,
h4,
h5,
h6,
body {
	margin: 0;
}

body {
	padding: 0 30px;
}

.floating-panel {
	min-width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
	position: fixed;
	bottom: 0;
	right: 1%;
	background-color: rgba(0, 0, 0, 0.285);
	backdrop-filter: blur(4px);
	border-radius: 30px;
	user-select: none;
	overflow: hidden;
	min-height: 58px;
}

.filter {
	left: 1%;
	max-width: 30px;
	flex-direction: column;
	gap: 30px;
	align-items: start;
	justify-content: center;
	padding: 0 2%;
}

.filter :last-child,
.filter :nth-last-child(2) {
	align-self: center;
}

.collapsed > label,
.collapsed > button {
	display: none;
}

.collapsed > .button-filter-show {
	display: block;
}

.button-filter-show {
	font-size: xx-large;
	display: none;
	cursor: pointer;
}

label {
	font-size: x-large;
}

.text-input {
	font-size: x-large;
	background: none;
	border: none;
	outline: none;
	box-shadow: none;
	border-bottom: 1px solid black;
	width: 100%;
}

.text-input:hover {
	outline: 1px solid black;
	outline-offset: 2px;
}

.page-number {
	font-size: xx-large;
	padding: 2px 0;
	text-align: center;
}

.button {
	background: none;
	border: none;
	outline: none;
	box-shadow: none;
	font-size: xx-large;
	cursor: pointer;
	padding: 2px 20px;
	min-height: 58px;
}

.bufferized {
	background-color: rgba(9, 175, 0, 0.2);
}

.button.disabled {
	visibility: hidden;
}

.button:hover {
	text-shadow: 0 0 5px #000;
}

.product-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	max-width: 1080px;
	margin: auto;
}

.product-list:before {
	content: "";
	width: 100%;
	height: 10vh;
	position: absolute;
	left: 0;
	bottom: 0;
	background: linear-gradient(
		transparent 0,
		rgb(255, 255, 255),
		150%,
		rgb(255, 255, 255)
	);
}

.product-list:empty {
	text-align: center;
	font-size: xx-large;
}

.product-item {
	padding: 5px;
	cursor: pointer;
}

.product-item:last-child {
	margin-bottom: 10%;
}

.product-item:hover {
	background-color: rgba(165, 42, 42, 0.5) !important;
}

.product-item:nth-child(odd) {
	background-color: rgba(250, 235, 215, 0.5);
}

.product-item:nth-child(even) {
	background-color: rgba(221, 215, 250, 0.5);
}

.product-item:not(:last-child) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.product-item__title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 30px;
}

.pruduct-item__brand {
	/* text-transform: uppercase; */
	font-size: larger;
	font-weight: bolder;
	color: rgba(0, 0, 0, 0.7);
	position: relative;
	top: -20%;
}

.product-item__name {
	font-style: italic;
	font-size: larger;
}

.product-item__id {
	font-size: small;
	color: rgba(0, 0, 0, 0.5);
	text-align: end;
	display: block;
}
